<div class="container">
  <form action="/answer">
    <input type="text" name="question" />
    <input type="submit" value="Ask!" />
  </form>
</div>

<div class="container">
  <div class="conversation-card">
    <div class="person">
      <h3><%= @question %></h3>
      <p>From - You</p>
    </div>
    <div class="person">
      <h3><%= @answer %></h3>
      <p>From - Your Coach</p>
    </div>
  </div>
  <%= link_to 'Ask a new question', ask_path %>
</div>
